* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Inter', sans-serif;
  background: white;
  line-height: 1.5;
}

#root {
  width: 100%;
}

.text-center {
  text-align: center;
}

.loadingBg {
  z-index: 999;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}