.breadcrumb-custom {
  padding: 16px 0;
  margin-top: 60px;
  width: 100%;
  max-width: 1200px;
}

.breadcrumb-custom .breadcrumb-item {
  font-size: 14px;
}

.breadcrumb-custom .breadcrumb-item a {
  color: gray;
  text-decoration: none;
  transition: color 0.5s;
}

.breadcrumb-custom .breadcrumb-item a:hover {
  color: black;
}

.breadcrumb-custom .breadcrumb-item.active {
  color: black;
}

.breadcrumb-custom .breadcrumb-item + .breadcrumb-item::before {
  color: #5C5E62;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumb-custom {
    padding: 12px 0;
  }
  
  .breadcrumb-custom .breadcrumb-item {
    font-size: 12px;
  }
}